[global_config]
  title_transmit_bg_color = "#080056"
[keybindings]
[profiles]
  [[default]]
    use_system_font = False
    background_darkness = 0.86
    background_type = transparent
    background_image = None
    icon_bell = False
    font = Monaco 9
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
